<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SimpleForm</title>
    <!-- build:css ../static/css/site.css -->
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/bootstrap-theme.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <!-- endbuild -->
  </head>
  <body ng-app="simpleformsApp">
    <div class="container">
      
    <sf-nav></sf-nav>
      
    <div ui-view></div>
    </div>
    <!-- build:vendorJS ../static/js/vendor/vendor.js -->
    <script src="../static/js/vendor/jquery.js"></script>
    <script src="../static/js/vendor/angular.js"></script>
    <script src="../static/js/vendor/angular-ui-router.js"></script>
    <script src="../static/js/vendor/bootstrap.js"></script>
    <script src="../static/js/vendor/moment.js"></script>
    <!-- endbuild -->
    
    <!-- build:siteJS ../static/js/site.js -->
    <script src="../static/js/app.js"></script>
    <script src="../static/js/services.js"></script>
    <script src="../static/js/controllers.js"></script>
    <script src="../static/js/controllers/navCtrl.js"></script>
    <script src="../static/js/controllers/loginCtrl.js"></script>
    <script src="../static/js/controllers/registerCtrl.js"></script>
    <script src="../static/js/controllers/dashboardCtrl.js"></script>
    <script src="../static/js/controllers/createresponseCtrl.js"></script>
    <script src="../static/js/controllers/viewresponseCtrl.js"></script>
    <script src="../static/js/directives.js"></script>
    <!-- endbuild -->
  </body>
</html>